@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Animações ajustadas para entrada da direita para a esquerda e saída da esquerda para a direita */

/* Animação de entrada (da direita para a esquerda) */
@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Começa fora da tela, à direita */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Fica na posição final */
  }
}

/* Animação de saída (da esquerda para a direita) */
@keyframes toast-out {
  0% {
    opacity: 1;
    transform: translateX(0); /* Começa na posição atual */
  }
  100% {
    opacity: 0;
    transform: translateX(100%); /* Sai da tela para a direita */
  }
}

/* Usando o @layer para adicionar as animações ao Tailwind */
@layer components {
  .toast {
    animation: toast-in 0.5s ease-out forwards; /* Animação de entrada */
  }

  .toast-exit {
    animation: toast-out 0.5s ease-in forwards; /* Animação de saída */
  }
}
